{% extends 'default/home.html.twig' %}

{% block body %}
    <h1>Quizzes list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td><a href="{{ path('quiz_show', { 'id': quiz.id }) }}">{{ quiz.id }}</a></td>
                <td>{{ quiz.titre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quiz_show', { 'id': quiz.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('quiz_edit', { 'id': quiz.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quiz_new') }}">Create a new quiz</a>
        </li>
    </ul>
{% endblock %}
