{% extends "default/home.html.twig"  %}






{% block content %}



            <!--gallery-->
            <div class="container">
                <div  style="margin-bottom: 10px ;margin-top: 20px" class="col-md-offset-10">
                    <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Start Your Battle <Battle></Battle></button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="text-shadow: #0b0b0b">add your battle</h5>

                                </div>
                                <div class="modal-body">
                                    {% if user == null %}
                                        <p> you should be authentificated </p>
                                    {%  endif %}
                                    {% if not user == null %}
                                {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_widget(form.titre, { 'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
                                        {{ form_errors(form.titre) }}
                                    </div>
                                    <div class="form-group" style="margin-top: 20px">
                                        {{ form_widget(form.maxmember, { 'attr': {'class': 'form-control', 'placeholder': 'maxmember'} }) }}
                                        {{ form_errors(form.maxmember) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.startsAt, { 'attr': {'class': 'form-control datepicker', 'placeholder': 'maxmember'} }) }}
                                        {{ form_errors(form.startsAt) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.deadline, { 'attr': {'class': 'form-control datepicker', 'placeholder': 'deadline'} }) }}
                                        {{ form_errors(form.deadline) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'description'} }) }}
                                        {{ form_errors(form.description) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.image) }}
                                    </div>


                                </div>
                                <div class="modal-footer">


                                    {{ form_widget(form.ajout, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
                                    {{ form_end(form) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                {% for d in defis  %}

                <div class="col-md-4 " style="margin-top: 10px ;" >
                    <div class="panel panel-default" style="background-color: #f5f5ef">
                    <div class="card " style="width: 18rem;background-color:#f5f5ef ;margin-left: 33px" >

                        <img class="card-img-top" src="{{ asset('images/defi/'~d.image) }}" alt="Card image cap" style="margin-left: 5px " height="200" width="250">

                        <div class="card-body">
                            <h2 class="card-title icon-subheading">{{ d.titre }}</h2>

                            <p class="card-text"><i class="fa fa-users"></i> {{ d.maxmember }} Places Dispoible</p>
                            <p class="card-text"><i class="fa fa-calendar"></i> {{ d.startsAt|date('Y-m-d') }} </p>

                            <center><a href="{{ path('battle',{'defi':d.id}) }}" class="btn btn-primary">See Battle</a></center>
                        </div>
                        </div>

                    </div>
                </div>

                {%  endfor %}
                <div class="clearfix"> </div>
            </div>
            <!--//gallery-->
            <!---->


    <div class="clearfix"> </div>
    </div>
    <div class="navigation" style="text-align: center" >
        {{ knp_pagination_render(defis) }}
    </div>



{% endblock content %}


