{% extends "default/home.html.twig"  %}






{% block content %}



            <!--gallery-->
            <div class="container">
                <div  style="margin-bottom: 10px" class="col-md-offset-10">
                    <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Start Your Battle <Battle></Battle></button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">add your battle</h5>

                                </div>
                                <div class="modal-body">
                                {{ form_start(form) }}
                                    {{ form_end(form) }}
                                </div>
                                <div class="modal-footer">
                                    <div></div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                {% for d in defis  %}
                <div class="col-md-4 " style="margin-top: 10px ;" >
                    <div class="card " style="width: 18rem;background-color:#f5f5ef">
                        <img class="card-img-top" src="{{ asset('admin/images/ga1.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title icon-subheading">{{ d.titre }}</h2>
                            <p class="card-text ">{{ d.description }}</p>
                            <p class="card-text"><i class="fa fa-users"></i> {{ d.maxmember }} Places Dispoible</p>
                            <p class="card-text"><i class="fa fa-calendar"></i> {{ d.startsAt|date('Y-m-d') }} </p>

                            <center><a href="{{ path('battle',{'defi':d.id}) }}" class="btn btn-primary">See Battle</a></center>
                        </div>
                    </div>
                </div>

                {%  endfor %}
                <div class="clearfix"> </div>
            </div>
            <!--//gallery-->
            <!---->


    <div class="clearfix"> </div>
    </div>


{% endblock content %}


