{% extends "default/home.html.twig"  %}

{% block content %}
    <div class="container">
        <h2 class="w3_heade_tittle_agile" style="color: darkred">{{ defi.titre }}</h2>
        <div class="single-grid">
            <div class="col-md-10 w3ls-blog-left">
                <div class="w3-blog-left-grid">
                    <div class="w3ls-blog-leftl">
                        <h4>{% if defi.startsAt %}{{ defi.startsAt|date('Y-m-d') }}{% endif %} <span>Starts At</span></h4>
                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>{{ defi.maxmember }}</a>
                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ defi.deadline }}</a>
                    </div>
                    <div class="w3ls-blog-leftr">
                        <img src="{{ asset('images/banner2.jpg') }}" alt=" " class="img-responsive" />
                        <p>"{{ defi.description }}r</p>
                        <ul>

                            <li><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class=" fa fa-ticket" aria-hidden="true" ></i> Join this battle</a></li>
                            <li hidden>
                                <a href="#" ><i class=" fa fa-check-square-o" aria-hidden="true"></i> Already joined</a>
                            </li>
                                <li>
                                    <a href="{{ path('defis_index') }}" ><i class="fa fa-backward" aria-hidden="true"></i> Back to the list</a>
                                </li>


                        </ul>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-shadow: #0b0b0b">JOIN THIS BATTLE </h5>
                                    </div>
                                    <div class="modal-body">
                                        {% if u == null %}
                                            <p>you sould be authentificated</p>
                                        {% endif %}
                                        {% if not u == null %}

                                              <p style="font-style: oblique"> Click To Join</p> 

                                      <form method="post">
                                    
                                    
                                    
                                    
                                        <input type="submit" name="join" value="join" class="btn btn-primary btn-block">
                                           
                                        </form>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"> </div>


                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
        <!-- //single -->


        <div class="tabs tabs-style-bar">
            <nav>
                <ul>
                    <li><a href="#" class="icon icon-box"><span>Discussion</span></a></li>
                    <li><a href="#" class="icon icon-display"><span>Challenge</span></a></li>

                </ul>
            </nav>

            <div class="content-wrap">



                <section id="section-bar-1" class="agileits w3layouts">
                    {% if date(defi.StartsAt) <= date() %}


                    {% for di in d  %}


                        <div class="panel panel-default">
                        <div class="media">
                            <div class="media-left">

                                <img class="media-object" src="{{ asset('images/') }}" alt={{ di.idUser }}>

                            </div>
                            <div class="media-body">
                                   
                                {{ di.contenu }}
                            </div>
                        </div>
                        </div>
                    {%  endfor %}

                        {% if u == null %}
                            <div class="alert alert-info" role="alert">
                              You Should join this battle to comment
                            </div>


                        {%  endif %}
                        {% if not u == null %}
                    <div class="coment-form" >  
                        <h4>Add You Motivation</h4>


                                   <a href="{{ path('add',{'defi':defi.id }) }}"><input type="submit" value="Click Here"  >    </a>

                    </div>
                    {% endif %}
                    {% endif %}
                    {% if  date(defi.StartsAt) > date() %}
                        <p> the Challenge hasn't started yet</p>
                    {% endif %}
                </section>
                <!-- //Tab-1 -->

                <!-- Tab-2 -->
                <section id="section-bar-2" >
                    {% if date(defi.StartsAt) <= date() %}
                        <div >
                      {% for list in list %}

                        <div class="panel panel-default">
                            {% if not u == null %}
                       <div class="row">
                           <div class="col-md-offset-10" style="margin-top: 10px">

                               <a href="{{ path('check',{defi:defi.id})}}"><button type="button" class="btn btn-success" > Did you do it ? </button></a>
                           </div>

                       </div>
                            {% endif %}
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                <a href="#">
                                    <img class="img-circle" src="{{ asset('images/ad.jpg') }}" alt=""/>
                                </a>
                                <h5><a href="#">{{ list.idUser.username }}</a></h5>
                            </div>
                            <div class="media-body response-text-right">
                                <div class="w3-agile-poll">
                                    <h3> Achievement</h3>
                                    <div class="progress p">
                                        <div class="progress-bar bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                           30%
                                        </div>
                                    </div>
                                </div>
                                <ul style="margin-left: 20px">
                                    <li> Today is Mar 15, 2017</li>
                                </ul>


                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        </div>
                      {%  endfor %}
                        </div>
                    {% endif %}
                    {% if  date(defi.StartsAt) > date() %}
                        <p style="background-color: #93a1a1"> the Challenge hasn't started yet</p>

                    {% endif %}
                </section>




            </div>
            <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

            <script src="{{ asset('js/cbpFWTabs.js') }}"></script>
            <script>
                (function() {
                    [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
                        new CBPFWTabs( el );
                    });
                })();
            </script>
            <!-- //Gallery-Tab-JavaScript -->


            <!-- Swipe-Box-JavaScript -->
            <script src="{{ asset('js/jquery.swipebox.min.js') }}"></script>
            <script type="text/javascript">
                jQuery(function($) {
                    $(".swipebox").swipebox();
                });
            </script>

        </div>
























    </div>
{% endblock content %}
