{% extends "default/home.html.twig"  %}

{% block content %}
    <div class="container">
        <h2 class="w3_heade_tittle_agile" style="color: darkred">{{ defi.titre }}</h2>
        <div class="single-grid">
            <div class="col-md-10 w3ls-blog-left">
                <div class="w3-blog-left-grid">
                    <div class="w3ls-blog-leftl">
                        <h4>{{ defi.startsAt|date('Y-m-d') }} <span>Starts At</span></h4>
                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>{{ defi.maxmember }}</a>
                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ defi.deadline }}</a>

                        <a href="{{ path('delete',{'id':defi.id}) }}"><i class=" fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                    <div class="w3ls-blog-leftr">

                        <img src="{{ asset('images/defi/'~defi.image) }}" alt=" "  height="300" width="650"/>
                        <p>"{{ defi.description }}r</p>
                        <ul>

                            <li><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class=" fa fa-ticket" aria-hidden="true" ></i> Join this battle</a></li>

                                <li>
                                    <a href="{{ path('defis_index') }}" ><i class="fa fa-backward" aria-hidden="true"></i> Back to the list</a>
                                </li>


                        </ul>




                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="text-shadow: #0b0b0b">JOIN THIS BATTLE </h5>
                                    </div>
                                    <div class="modal-body">
                                        {% if u == null %}
                                            <p>you sould be authentificated</p>
                                        {% endif %}
                                        {% if not u == null %}
                                          {% for value in exist %}
                                              {% if value.number == 0 %}
                                                  {%  if defi.maxmember != 0 %}
                                                      <p style="font-style: oblique"> Click To Join</p>
                                                      <form method="post">
                                                          <input type="submit" name="join" value="join" class="btn btn-primary btn-block">

                                                      </form>
                                                  {% endif %}
                                                  {% if   defi.maxmember == 0 %}
                                                    <p> we are sorry there's no place </p>
                                                      {% endif %}

                                                {% endif %}

                                        {% if not value.number == 0 %}
                                            <p> you already joined this battle</p>
                                            {% endif %}

                                        {% endfor %}


                                        {% endif %}

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"> </div>


                </div>
            </div>


            <div class="clearfix"> </div>
        </div>

        <!-- //single -->


        <div class="tabs tabs-style-bar">
            <nav>
                <ul>
                    <li><a href="#" class="icon icon-box"><span>Discussion</span></a></li>
                    <li><a href="#" class="icon icon-display"><span>Challenge</span></a></li>

                </ul>
            </nav>

            <div class="content-wrap">



                <section id="section-bar-1" class="agileits w3layouts">
                    {% if date(defi.StartsAt) <= date() %}


                    {% for di in d  %}

                        <div class="panel panel-default">
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="media">
                                        <div class="media-left">

                                            <img class="media-object" src="{{ asset('images') }}" alt={{ di.idUser }}>

                                        </div>

                                        <div class="media-body">
                                            {{ di.contenu }}
                                        </div>

                                    </div>
                                </div>
                                {% if u.id == di.idUser.id %}
                                <div class="col-md-1">
                                    <a href="{{ path('deletediscussion',{'defi':defi.id ,'id':di.id}) }}"><i class="fa fa-remove" aria-hidden="true"></i></a><br>
                                    <a href="{{ path('update',{'defi':defi.id ,'id':di.id}) }}"><i class=" fa fa-edit (alias)" aria-hidden="true"></i></a>


                                </div>
                                {% endif %}

                            </div>



                        </div>
                    {%  endfor %}

                        {% if u == null %}
                            <div class="alert alert-info" role="alert">
                              You login to comment
                            </div>


                        {%  endif %}
                        {% if not u == null %}
                            {% for value in exist %}
                                {% if value.number != 0 %}
                                    <div class="coment-form" >
                                        <h4>Add You Motivation</h4>
                                        <a href="{{ path('add',{'defi':defi.id }) }}"><input type="submit" value="Click Here" ></a>
                                    </div>
                                    {% endif %}
                          {% if not value.number != 0 %}
                              <p> you should join this battle to comment</p>
                                {% endif %}


                                {% endfor %}


                    {% endif %}
                    {% endif %}
                    {% if  date(defi.StartsAt) > date() %}
                        <p> the Challenge hasn't started yet</p>
                    {% endif %}
                </section>
                <!-- //Tab-1 -->


                <section id="section-bar-2" >
                    {% if date(defi.StartsAt) <= date() %}
                        <div >
                      {% for list in list %}

                        <div class="panel panel-default">
                            {% if not u == null %}
                                {% if check == null %}
                                    {% if u.id == list.idUser.id %}
                                    <div class="row">
                                        <div class="col-md-offset-10" style="margin-top: 10px">

                                            <a href="{{ path('check',{'defi':defi.id }) }}"><button type="button" class="btn btn-success" > Did you do it ? </button></a>
                                        </div>
                                        {% endif %}

                                    </div>

                                    {% endif %}

                            {% if not check == null %}
                                {% if u.id == list.idUser.id %}

                                    <div class="row">
                                    <div class="col-md-offset-10" style="margin-top: 10px">
                                        <i class="fa fa-check-circle" style="color: green ; size: 20px"> <span>Verified</span></i>
                                    </div>

                                </div>
                                    {% endif %}
                                {%  endif %}

                            {% endif %}
                        <div class="media response-info">
                            <div class="media-left response-text-left">
                                <a href="#">
                                    <img class="img-circle" src="{{ asset('images/images/ad.jpg') }}" alt="" height="50" width="50"/>
                                </a>
                                <h5><a href="#">{{ list.idUser.username }}</a></h5>
                            </div>
                            <div class="media-body response-text-right">
                                <h4><span>Achievement</span></h4>

                                <div class="progress">

                                    <div class="progress-bar progress-bar-success" style="width: {{ (100 /defi.deadline) * list.score }}% "></div>
                                </div>

                                <ul style="margin-left: 20px">
                                    <li> Today {{ date()|date('Y-m-d')}}  </li>
                                </ul>


                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        </div>
                      {%  endfor %}
                        </div>
                    {% endif %}
                    {% if  date(defi.StartsAt) > date() %}
                        <p style="background-color: #93a1a1"> the Challenge hasn't started yet</p>

                    {% endif %}
                </section>




            </div>

            <script src="{{ asset('js/jquery-2.2.3.min.js') }}"></script>

            <script src="{{ asset('js/cbpFWTabs.js') }}"></script>
            <script>
                (function() {
                    [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
                        new CBPFWTabs( el );
                    });
                })();
            </script>
            <!-- //Gallery-Tab-JavaScript -->


            <!-- Swipe-Box-JavaScript -->
            <script src="{{ asset('js/jquery.swipebox.min.js') }}"></script>
            <script type="text/javascript">
                jQuery(function($) {
                    $(".swipebox").swipebox();
                });
            </script>

        </div>
























    </div>
{% endblock content %}
