{% extends "default/home.html.twig"  %}

{% block content %}
    <div class="container">
        <h2 class="w3_heade_tittle_agile" style="color: darkred">{{ defi.titre }}</h2>
        <div class="single-grid">
            <div class="col-md-10 w3ls-blog-left">
                <div class="w3-blog-left-grid">
                    <div class="w3ls-blog-leftl">
                        <h4>{% if defi.startsAt %}{{ defi.startsAt|date('Y-m-d') }}{% endif %} <span>Starts At</span></h4>
                        <a href="#"><i class="fa fa-users" aria-hidden="true"></i>{{ defi.maxmember }}</a>
                        <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{ defi.deadline }}</a>
                    </div>
                    <div class="w3ls-blog-leftr">
                        <img src="{{ asset('images/banner2.jpg') }}" alt=" " class="img-responsive" />
                        <p>"{{ defi.description }}r</p>
                        <ul>
                            <li><a href="#"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i>Join this Battle</a></li>
                            <li><a href="#"><i class=" fa fa-check-circle" aria-hidden="true" ></i> Joined</a></li>
                            <li>
                                <a href="{{ path('defis_index') }}" ><i class="fa fa-backward" aria-hidden="true"></i> Back to the list</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>



                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
        <!-- //single -->
    </div>

{% endblock content %}
