<!DOCTYPE html>
<html lang="zxx">

<head>
    <title></title>
    <!-- for-meta-tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Health Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />


    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{{asset('css/flexslider.css')}}" type="text/css" media="screen" Department="" />
    <link href="{{ asset('css/services.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/ziehharmonika.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/JiSlider.css')}}" rel="stylesheet">
    <link href="{{ asset('css/style.css')}}" rel="stylesheet" type="text/css" media="all" />

    <link href="{{ asset('css/font-awesome.css')}}" rel="stylesheet">

    <link href="//fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900" rel="stylesheet">

    {% block extra %}

    {% endblock extra %}

</head>


<body>


<div class="main" id="home">
    <!-- banner -->
    {% block header %}
        <div class="header_agileinfo">
            <div class="w3_agileits_header_text">
                <ul class="top_agile_w3l_info_icons">
                    <li><i class="fa fa-home" aria-hidden="true"></i>12K Street,New York City.</li>
                    <li class="second"><i class="fa fa-phone" aria-hidden="true"></i>(+000) 123 456 87</li>

                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:maria@example.com">info@example.com</a></li>
                </ul>

            </div>
            <div class="agileinfo_social_icons">
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>

        <div class="header-bottom">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1><a class="navbar-brand" href="index.html"><span>Espace</span>Sante <i class="fa fa-plus" aria-hidden="true"></i> <p>Bien Etre</p></a></h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav class="menu menu--sebastian">
                        <ul id="m_nav_list" class="m_nav menu__list">
                            <li class="m_nav_item menu__item menu__item--current" id="m_nav_item_1"> <a href="index.html" class="menu__link"> Acceuil </a></li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="about.html" class="menu__link"> Blog </a> </li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="about.html" class="menu__link">forum</a> </li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_4"> <a href="appointment.html" class="menu__link">Service  </a> </li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_3 dropdown"> <a href="#" class="menu__link dropdown-toggle" data-toggle="dropdown">Annonces  <b class="caret"></b></a>

                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="{{ path('AfficherOffre' , {'typeAnnonce':"Offre d'emploi"}) }} ">Offre d'emplois</a></li>
                                    <li><a href="{{ path('AfficherEvent' , {'typeAnnonce':"Evenement"} )}} ">Evenements</a></li>
                                </ul>


                            </li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_5"> <a href="gallery.html" class="menu__link">Quiz</a> </li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_6"> <a href="#" class="menu__link"> Defis </a> </li>
                            <li class="m_nav_item menu__item" id="moble_nav_item_2"> <a href="{{ path('fos_user_security_login')}}" class="menu__link"> Se Connecter </a> </li>
                        </ul>
                    </nav>

                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>

    {% endblock header %}



    {% block content  %}
        <div class="banner-silder">
            <div id="JiSlider" class="jislider">
                <ul>
                    <li>
                        <div class="w3layouts-banner-top">

                            <div class="container">
                                <div class="agileits-banner-info">
                                    <span>Health Plus</span>
                                    <h3>Quality Care </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top1">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <span>Real</span>
                                    <h3>Free Consultation </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top2">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <span>Amazing</span>
                                    <h3>Quality Care </h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin dignissim.</p>

                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>






    {% endblock content %}

    {% block footer  %}
        <div class="footer">
            <div class="container">
                <h4>Subscribe to <span>Newsletter</span></h4>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Enter Your Email..." required="">
                    <input type="submit" value="Send">
                </form>
                <div class="agile_footer_copy">
                    <div class="w3agile_footer_grids">
                        <div class="col-md-4 w3agile_footer_grid">
                            <h3>About Us</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
							non proident, sunt in culpa qui officia deserunt mollit.</span></p>
                        </div>
                        <div class="col-md-4 w3agile_footer_grid">
                            <h3>Contact Info</h3>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>+1234 567 567</li>
                            </ul>
                        </div>
                        <div class="col-md-4 w3agile_footer_grid w3agile_footer_grid1">
                            <h3>Navigation</h3>
                            <ul>
                                <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="gallery.html">Department</a></li>
                                <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="appointment.html">Appointment</a></li>
                                <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="about.html">About</a></li>
                                <li><span class="fa fa-long-arrow-right" aria-hidden="true"></span><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="w3_agileits_copy_right_social">
                    <div class="col-md-6 agileits_w3layouts_copy_right">
                        <p>&copy; 2017 Health Plus. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                    </div>
                    <div class="col-md-6 w3_agile_copy_right">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    {% endblock footer %}
    <!-- //footer -->
    {% block scripts %}
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- js -->
    <script src="{{ asset('js/jquery-2.2.3.min.js')}}"></script>
    <script src="{{ asset('js/JiSlider.js')}}"></script>
    <script>
        $(window).load(function () {
            $('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
        })
    </script><script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script src="{{ asset('js/ziehharmonika.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('.ziehharmonika').ziehharmonika({
                collapsible: true,
                prefix: ''
            });
        });
    </script>
    <!-- stats -->
    <script src="{{ asset('js/jquery.waypoints.min.js')}}"></script>
    <script src="{{ asset('js/jquery.countup.js')}}"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <script type="text/javascript">
        $(function(){
            $("#bars li .bar").each(function(key, bar){
                var percentage = $(this).data('percentage');

                $(this).animate({
                    'height':percentage+'%'
                }, 1000);
            })
        })
    </script>

    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Health Plus
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="{{ asset('images/g9.jpg')}}" alt=" " class="img-responsive" />
                        <p>Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit
                            esse quam nihil molestiae consequatur, vel illum qui
                            dolorem eum fugiat quo voluptas nulla pariatur.
                            <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                esse quam nihil molestiae consequatur.</i></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->

    <!-- flexSlider -->
    <script defer src="{{ asset('Template/js/jquery.flexslider.js')}}"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->


    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{{ asset('js/move-top.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/easing.js')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script src="{{ asset('js/jarallax.js')}}"></script>
    <script src="{{ asset('js/SmoothScroll.min.js')}}"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>

    <script src="{{ asset('js/bootstrap.js')}}"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

</div>
{% endblock scripts %}

</body>
</html>