{% extends "default/home.html.twig" %}

{% block content %}


    <center>
        <div class="container">
            <div class="card" style="width:500px">
                <div class="card-body" align="left" style="font-style: italic">
                    <br><br>
                    <h4 class="card-title">Titre de l'Evenement : {{Event.titreAnnonce}}</h4><br><br>
                    <p class="card-text">Description de l'Evenement :  {{Event.descAnnonce}}</p><br>
                    <p class="card-text">Date de l'Evenement : {{Event.dateAnnonce}}</p><br>
                    <p class="card-text">Adresse de l'Evenement : {{Event.addrAnnonce}}</p><br>
                    <p class="card-text">Telephone de l'Evenement : {{Event.telAnnonce}}</p><br>
                </div>
                <br>
                <img class="card-img-bottom" src="https://tiny.pictures/api/demo/main/example1.jpg" alt="Card image" style="width:100%">
                <br><br>
                <td><button  type="button" style="background-color: #0a6aa1"><a href="{{ path("modifierEvent" ,{"id":Event.idAnnonce}) }} " style="color: blanchedalmond"> Modifier </a></button>
                    <br><br>


            </div>
        </div>
    </center>
{% endblock content %}
