
    <center>
        <img src="C:\wamp64\www\EspaceSanteWeb\web\image\LOGO_DEF.jpg" style="width:500px;height: 100px">

        <div class="container">
            <div class="card" style="width:500px">
                <div class="card-body" align="left" style="font-style: italic">
                    <br><br>
                    <h4 class="card-title">Titre de l'Evenement : {{event.titreAnnonce}}</h4><br><br>
                    <p class="card-text">Description de l'Evenement :  {{event.descAnnonce}}</p><br>
                    <p class="card-text">Date de l'Evenement : {{event.dateAnnonce| date("m/d/y")}}</p><br>
                    <p class="card-text">Adresse de l'Evenement : {{event.addrAnnonce}}</p><br>
                    <p class="card-text">Telephone de l'Evenement : {{event.telAnnonce}}</p><br>
                </div>
                    <br><br>
            </div>
        </div>
    </center>
