{% extends 'Admin/admin.html.twig' %}

{% block body %}
<div class="container" style="max-width: 150%">
    <br>
    <h1>Reponse edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input style="width: 150px" class="btn btn-primary"  type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li style="display: inline">
            <a style="width: 150px" class="btn btn-info"  href="{{ path('reponsequiz_index') }}">Back to the list</a>
        </li>
        <li style="display: inline">
            {{ form_start(delete_form) }}
                <input style="width: 150px" class="btn btn-warning"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
