{% extends 'Admin/admin.html.twig' %}

{% block body %}
    <h1>Reponsequiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponseQuiz.id }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ reponseQuiz.reponse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reponsequiz_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reponsequiz_edit', { 'id': reponseQuiz.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
