{% extends 'Admin/admin.html.twig' %}

{% block body %}
<div class="container" style="max-width: 150%">
    <br>
    <h1>Reponse</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Reponse</th>
                <td>{{ reponseQuiz.reponse }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li style="display: inline">
            <a class="btn btn-info" href="{{ path('reponsequiz_index') }}">Back to the list</a>
        </li>
        <li style="display: inline">
            <a  class="btn btn-warning" href="{{ path('reponsequiz_edit', { 'id': reponseQuiz.id }) }}">Edit</a>
        </li>
        <li style="display: inline">
            {{ form_start(delete_form) }}
                <input class="btn btn-primary"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
